@model IEnumerable<AM.ApplicationCore.Domain.PretLivre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="index">
    <fieldset>
        <legend> Recherche</legend>
        Saisir une date de départ :
        <input type="text" name="filter1" />
         Saisir une date de fin :
        <input type="text" name="filter2" />
        <input type="submit" value="Serach" />
    </fieldset>

</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyAbonne.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyLivre.Auteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyAbonne.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyLivre.Auteur)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
